@import "../../../../styles/vars";

.tabs-content {
  padding: 2.2rem 0;
  color: #4F4F4F;
  .title {
    margin-bottom: 1.5rem
  }
  .os-card {
    display: flex;
    flex-wrap: wrap;
    padding: 26px 30px 28px 30px;
  }
}

