<div class="tabs-content">
  <os-card class="os-card" *ngIf="!isOldPasswordValidated">
    <form [formGroup]="oldForm" class="form">
      <div class="tape mobile-free">
        <div class="form-group">
          <label for="pass2" class="form-group-name">Подтвердите, что это Вы — введите Ваш текущий пароль: </label>
          <div class="form-group-controls">
            <div class="form-control-icons">
              <input
                type="password"
                class="form-control"
                id="pass2"
                placeholder="Текущий пароль"
                #oldpass
                formControlName="oldPassword">
              <i class="icon ic-eye js-toggle-pass" (click)="togglePassword(oldpass)"></i>
            </div>
          </div>
        </div>
        <div class="form-btn">
          <button
            os-button-raised
            [color]="'accent'"
            [disabled]="!oldForm.controls['oldPassword'].valid"
            (click)="checkOldPassword(oldForm)">
            далее
          </button>
        </div>
      </div>
    </form>
  </os-card>

  <os-card class="tape" *ngIf="isOldPasswordValidated && !isNewPasswordValidated">
    <form class="form" [formGroup]="newForm">
      <div class="tape mobile-free">
        <div class="form-group">
          <label for="pass" class="form-group-name">Спасибо. Теперь введите новый пароль:</label>
          <div class="form-group-controls align-items-start">
            <div class="form-control-icons">
              <input type="password"
                     os-input
                     class="form-control"
                     id="pass"
                     #newpass
                     formControlName="newPassword">
              <i class="icon ic-eye js-toggle-pass" (click)="togglePassword(newpass)"></i>
            </div>
            <os-meter
              class="pass"
              [viewBar]="true"
              [value]="newpass.value"></os-meter>
          </div>
        </div>
        <div class="form-btn">
          <button
            os-button-raised
            [color]="'accent'"
            [disabled]="!newForm.controls['newPassword'].valid"
            (click)="checkNewPassword(newForm)">
            сохранить
          </button>
        </div>
      </div>
    </form>
  </os-card>
  <div *ngIf="isNewPasswordValidated && isOldPasswordValidated">
    <h2 class="h2 title">Пароль успешно изменён</h2>
    <div class="form-controls">
      <button
        os-button-stroke
        [color]="'basic'"
        class="btn btn-border"
        (click)="back()">
        вернуться назад
      </button>
    </div>
  </div>
</div>
