<h2 class="title">Meter Components</h2>
<p class="description">Meter component shows password strength depending on a user input into
  corresponding input field.<br>Meter validators are configurable.Please, check <span
    class="boolean">meter.config.ts</span> file to understand, how it works</p>
<h3 class="subtitle">Input/ Output</h3>
<table>
  <tbody>
  <tr>
    <td>@Input</td>
    <td>value</td>
    <td>String</td>
    <td>Password field value, which is being validated on user input</td>
  </tr>
  <tr>
    <td>@Input</td>
    <td>viewBar</td>
    <td>boolean</td>
    <td>Sets visibility of password strength bar</td>
  </tr>
  </tbody>
</table>
<h3 class="subtitle">Examples</h3>
<ul>
  <li class="row">
    <div class="example">
      <os-meter [value]="pwd.value"></os-meter>
    </div>
    <div class="state" style="margin-bottom: 20px">Please, provide any string</div>
    <input os-input type="password" #pwd>
  </li>
</ul>
