.date-picker {
  .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 106px;
    font-size: 1.4rem;
    font-family: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  os-datepicker-toggle {
    button {
      display: inline-block;
      vertical-align: middle;
      height: 40px;
      background: #F2F2F2;
      border: 1px solid #E0E0E0;
      border-left: none;
      border-radius: 0 5px 5px 0;
      color: #828282;
    }
  }
}
