$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ic-login: "\e901";
$ic-plus: "\e900";
$ic-fb: "\e902";
$ic-angle: "\e903";
$ic-eye: "\e904";
$ic-user: "\e905";
$ic-insta: "\e906";

