<div class="total-row">
  <span class="label">Итого</span>
  <span class="separator"></span>
  <span [class.-total]="!hasDelivery()">{{ totals.price |
    currency:'RUB':'symbol-narrow':'1.0-4':'ru'
    }}</span>
</div>
<div class="total-row">
  <os-pills right [cpv]="totals.cpv" [bpv]="totals.bpv"></os-pills>
</div>
<ng-container *ngIf="hasDelivery()">
  <div class="total-row">
    <span>Доставка</span>
    <span class="separator"></span>
    <span>{{ delivery | currency:'RUB':'symbol-narrow':'1.0-4':'ru' }}</span>
  </div>
  <div class="total-row">
    <span>Всего к оплате</span>
    <span class="separator"></span>
    <span class="-total">
      {{ delivery + totals.price | currency:'RUB':'symbol-narrow':'1.0-4':'ru' }}
    </span>
  </div>
</ng-container>
