<h2 class="title">Toggle Components</h2>
<p class="description">Group of elements (switcher, checkbox) for user interaction.<br>Has two
  states:
  <span class="boolean">true</span> and <span class="boolean">false</span>.<br>Can be used as a
part of Angular form module's control.
</p>
<h3 class="subtitle">Input/ Output</h3>
<table>
  <tbody>
    <tr>
      <td>@Input</td>
      <td>id</td>
      <td>String</td>
      <td>Sets id to angular component</td>
    </tr>
    <tr>
      <td>@Input</td>
      <td>required</td>
      <td>Boolean</td>
      <td>Used with angular forms, sets required validator</td>
    </tr>
    <tr>
      <td>@Input</td>
      <td>name</td>
      <td>String</td>
      <td>Sets name attribute to component</td>
    </tr>
    <tr>
      <td>@Input</td>
      <td>value</td>
      <td>String</td>
      <td>Sets value attribute to component</td>
    </tr>
    <tr>
      <td>@Input</td>
      <td>labelPosition</td>
      <td>'before' | 'after'</td>
      <td>Sets label position before/after checkbox</td>
    </tr>
    <tr>
      <td>@Output</td>
      <td>change</td>
      <td>Boolean</td>
      <td>Emits <span class="boolean">true</span> or <span class="boolean">false</span> on
        user click</td>
    </tr>
  </tbody>
</table>
<h3 class="subtitle">Examples</h3>
<ul>
  <li class="row">
    <div class="example">
      <os-toggle [formControl]="toggle">
        Товары по акции
      </os-toggle>
    </div>
    <div class="state">State: <span class="boolean">{{ toggle.value }}</span></div>
  </li>
  <li class="row">
    <div class="example">
      <os-checkbox #checkbox>Товары по акции</os-checkbox>
    </div>
    <div class="state">State: <span class="boolean">{{ checkbox.checked }}</span></div>
  </li>
</ul>
