<h2 class="title">Dropdown Component</h2>
<p class="description">Dropdown is used for initially hidden lists of options/ links/ text etc.</p>
<p class="note">Need to be extended for positioning and styling reasons</p>
<h3 class="subtitle">Input/ Output</h3>
<table>
  <tbody>
  <tr>
    <td>@Input</td>
    <td>label</td>
    <td>String</td>
    <td>Name of a dropdown, displayed alongside with dropdown icon or any other visual hints</td>
  </tr>
  <tr>
    <td>@Input</td>
    <td>labelIcon</td>
    <td>String</td>
    <td>Name of an icon, that will appear before/ after label</td>
  </tr>
  </tbody>
</table>
<h3 class="subtitle">Examples</h3>
<ul>
  <li class="row">
    <div class="example">
      <os-dropdown label="Click me">
        <p>Any content we want to drop down</p>
      </os-dropdown>
    </div>
  </li>
</ul>
