:host {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  @media (min-width: 992px) {
    padding: 26px 30px 28px 30px;
  }
  .info-row {
    & + .info-row {
      margin-top: 20px;
      @media (min-width: 576px) {
        margin-top: 10px;
      }
    }
    @media (min-width: 576px) {
      display: flex;
    }
    .label {
      color: #828282;
      @media (min-width: 576px) {
        width: 160px;
      }
    }
    .value {
      @media (min-width: 576px) {
        width: calc(100% - 170px);
        margin-left: 10px;
      }
    }
  }
}
